
.nombrePag{
    margin-bottom: 0;
}
.enProceso{
    background: yellow; padding: 3px;
     border-radius: 5px;
}
.terminado{
    background: green;
     padding: 3px; border-radius: 5px;
}
.antonio{
    background: lightblue;
    padding: 3px; border-radius: 5px;

}
.fernando{
    background: lightcoral;
    padding: 3px; border-radius: 5px;

}
.ambos{
    background: lightyellow;
    padding: 3px; border-radius: 5px;

}

h3{
    font-size: 1.8em;
}

/* particles */
.particulas {
    position: relative;
    background: black;
    width: 100%;
    overflow: hidden;
}

.particles-js-canvas-el {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
}


/* swiper Odoo  */
.tituloNuevo{
    margin: 10px 0px 10px 0px;
}

.imgSwiper{
    width: 70%;
}

.imgSwiper2{
    width: 100%;
}

:root {
    --swiper-theme-color:var(--accent-color);
}

@media screen and (max-width: 800px){

    .imgSwiper{
        width: 100%;
    }


}