
.nombrePag{
    margin-bottom: 0;
}
.enProceso{
    background: yellow; padding: 3px;
     border-radius: 5px;
}
.terminado{
    background: green;
     padding: 3px; border-radius: 5px;
}
.antonio{
    background: lightblue;
    padding: 3px; border-radius: 5px;

}
.fernando{
    background: lightcoral;
    padding: 3px; border-radius: 5px;

}
.ambos{
    background: lightyellow;
    padding: 3px; border-radius: 5px;

}